<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weboldal Leírás</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://c1.staticflickr.com/9/8199/8231313135_6b2d0f8c15_b.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 10;
            padding: 0;
            text-align: center;
        }
        .bubble {
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            text-align: left;
            max-width: 800px;
            margin: 0 auto;
        }
        h1 {
            color: #222121;
        }
        p {
            margin-bottom: 15px;
        }
        a {
            text-decoration: none;
            color: #3e50eb;
        }
    </style>
</head>
<body>
    <div class="bubble">
        <h1>Rólunk és amit biztosítunk</h1>
        <p>A projekt alapvető célja a társadalom számára a tudatosabb táplálkozás elérésének ösztönzése. Az arra való ösztönzés, hogy minden egyes egyéni szükségletnek megfelelően megtaláljuk a legmegfelelőbb étrendi formát, kiemelten fontosnak tartva azt, hogy a cél ne kizárólag a testsúly változása legyen.</p>
        <p>Legyen szó fogyásról vagy hízásról, a hangsúly azon van, hogy az étkezés a személyes igényekhez és egészségügyi célokhoz igazodjon. Ennek a tudatos táplálkozásnak az elérésével a projekt hozzájárul a szélesebb közösség egészségének és jólétének előmozdításához, elismerve, hogy minden egyes egyén egyedi, és szüksége van sajátos táplálkozási megközelítésre a legjobb eredmények eléréséhez.</p>
        <h2>Projekt részletei:</h2>
        <ol>
            <li><strong>Személyre szabott étkezési terv:</strong> Kialakításra került egy olyan online platform , amely segít minden egyes felhasználónak egyéni szükségleteinek és egészségügyi céljainak megfelelő étkezési tervek kialakításában. Figyelembe vesszük az egyéni preferenciákat, ételallergiákat és az egészségi állapotot, segítve azok betartásában.</li>
            <li><strong>Táplálkozási tanácsadás:</strong> Ingyenes táplálkozási tanácsadó szolgáltatásokat biztosítunk a projekt keretein belül. Segítünk az embereknek megérteni saját táplálkozási szükségleteiket, és azokhoz igazodva összeállítanak egyéni étrendeket.</li>
            <li><strong>Okos étkezési útmutatók:</strong> Az okos technológiákat felhasználva olyan eszközöket fejlesztenek ki, amelyek segítik az embereket az ételcímkék és tápanyagtartalmak jobb megértésében. Az alkalmazások például azonnal értékelik az élelmiszercímkéket, és az egyéni egészségügyi célokhoz igazított értékelést adnak.</li>
            <li><strong>Tudatos étkezési oktatás:</strong> Rendszeres táplálkozási workshopokat, előadásokat és oktatási programokat szervezünk, hogy növeljék a táplálkozási tudatosságot és segítsék az embereket abban, hogy jobban megértsék az étkezés és az egészség kapcsolatát.</li>
            <li><strong>Közösségi támogatás:</strong> Online közösségi platformot hoztunk létre, ahol az emberek megoszthatják tapasztalataikat, receptjeiket és motivációjukat. Ez a közösség támogatást nyújt mindenki számára az új étkezési szokások kialakításában és fenntartásában.</li>
        </ol>
        <p><a href="http://localhost:3500/">Főoldal</a></p>
    </div>
</body>
</html>
