<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="profileImage">Choose a profile image:</label>
        <input type="file" name="profileImage" id="profileImage" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>

    <p><a href="http://localhost:3500/profile">Back to Profile</a></p>
</body>
</html>