<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilkép változtatása</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image: url("https://res.cloudinary.com/dwekaokif/image/upload/v1701107888/up_jwzm4x.jpg");
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            color: #bd4545;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #2980b9;
        }

        p {
            text-align: center;
            margin-top: 20px;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Képfeltöltés</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="profileImage">Válasszon képet:</label>
        <input type="file" name="profileImage" id="profileImage" accept="image/*" required>
        <button type="submit">Feltölt</button>
    </form>

    <p><a href="http://localhost:3500/profile">Vissza a profilra</a></p>
</body>
</html>
